.main-container{
    margin-top: 25px;
    width: 100%;
}

.view-all-schdules{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.firstContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.search-box{
    display: grid;
    grid-template-columns: 4fr 1fr;
    gap: 20px;
}

.divider{
    margin-top: 20px;
    margin-bottom: 20px;
}

.train-schedule-part{
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.train-schedule-part :nth-child(2) {
    text-align: right;
}