.container {
  display: flex;
}

main {
  width: 100%;
  background:#ececec;
}

.sidebar {
  background: white;
  color: black;
  height: 100vh;
  width: 270px;
  transition: all .5s;
}

.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}

.logo {
  font-size: 25px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}

.link {
  display: flex;
  color: black;
  padding: 10px 15px;
  gap: 15px;
  transition: all .5s;
}

.link:hover {
  background: #3D51A9;
  color: white;
  transition: all .5s;
  cursor: pointer;
}

.active {
  background: #3D51A9;
  color: white;
}



.icon,
.link_text {
  font-size: 20px;
}

.signout {
  width: 100%;
  height: 7vh;
  border: none;
  background: #FA6F5D;
  font-size: 10px;
  color: white;
}
