.container {
  display: flex;
  overflow: hidden;
}

.cc-main {
  width: 100%; 
  background: #f8f8f8;
 
}

.sidebar {
  background: white;
  color: black;
  height: 100vh;
  width: 270px;
  transition: all .5s;

}



.top_section {
  display: flex;
  align-items: center;
  padding: 12% 16%;
}

.logo {
  font-size: 25px;
}

.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.grey-text {
  color: rgb(100, 96, 107);
  transition: color 0.2s;
}

.link:hover .grey-text,
.link.active .grey-text,
.link:hover .icon.grey-text,
.link.active .icon.grey-text {
  color: white;
}
.link {
  display: flex;
  color: black;
  padding: 10px 15px;
  gap: 10%;
  margin: 4% 5% 0 5%;
  transition: all .5s;
  text-decoration: none;
}

.link:hover {
  background: #3D51A9;
  color: white;
  transition: all .5s;
  cursor: pointer;
  border-radius: 25px;
}

.active {
  background: #3D51A9;
  color: white;
  border-radius: 25px;
}

.icon,
.link_text {
  font-size: 20px;
  
}
.black-icon {
  color: white; 
}



.signout {


width: 90%;
height: 6vh;
border: none;
background: #FA6F5D;
font-size: 20px;
color: white;
border-radius: 25px;
margin: 65% 5% 0% 5%;
gap: 8%;



}

.title {
  font-size: 24px;
  font-weight: bold;
}

.input-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.hr-section {
  margin-top: 30px;
  border: none;
  border-top: 1px solid #ccc;
}

.checkbox-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}
