/* sm_dashboard.css */

/* .sm-dashboard {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Divide the space into two columns */
/* gap: 20px;
  padding: 20px;
}  */

/* .ss-left-column {
  width: 100%;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;/* sm_dashboard.css */
/* } */

.sm-dashboard {
  display: flex-grid;
  grid-template-columns: 2fr 1fr;
  /* Divide the space into two columns with 2:1 ratio */
  gap: 20px;
  padding: 2% 5% 0% 2%;
  overflow-y: hidden;

}

.ss-left-column {
  
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.ss-right-column {
  
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-left: 5px;
  width: 100%;
  
}

/* Adjustments for responsiveness */
@media (max-width: 768px) {
  .sm-dashboard {
    grid-template-columns: 1fr;
    /* Change to a single column layout on smaller screens */
  }
}

.train-delays-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}


.sorting-options {
  margin-bottom: 20px;
  margin-left: 10px;
  text-align: left;
}

.flex-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-evenly;
}

.flex-card {
  border: 1px solid #ddd;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: calc(45% - 20px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform .2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.flex-card:hover {
  transform: translateY(-5px);
}

.card-topic {
  font-size: 20px;
  color: #3d3398;
  margin-bottom: 10px;
  text-align: left;
  /* Align card topic to the left */
}

.flex-card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* Align content to the left */
}

.content-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* Align content to the center vertically */
  text-align: right;
  /* Align text to the right */
}

.flex-card h2 {
  margin-top: 0;
  font-size: 18px;
}

.flex-card p {
  margin: 5px 0;
  font-size: 18px;
}

/* EmployeeDetails.css */

.employee-details-container {
  text-align: center;
  padding: 20px;
}

.section-heading {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.sub-section-heading {
  font-size: 18px;
  color: #666;
  margin-bottom: 20px;
}

/* EmpCard styles can go here or remain in its own CSS file */
/* EmpCard.css */

.employee-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 15px;
  text-align: center;
  width: 35%;
  height: 35%;
}

.employee-card img {
  max-width: 100%;
  height: auto;
  /* Keep the aspect ratio */
  border-radius: 50%;
  margin-bottom: 10px;
  /* Add the following styles to control the image size */
  width: 100px;
  /* Adjust the width as needed */
  height: 100px;
  /* Adjust the height as needed */
}

.employee-card h2 {
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.employee-card p {
  margin: 5px 0;
  color: #666;
}

/* TotalCard.css */

.total-card {
  background-color: whitesmoke;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
  margin-left: 8%;
  width: 60%;
}

.income-amount {
  font-size: 24px;
  font-weight: bold;
  color: #3f34a2;
  /* Adjust the color as needed */
}


.ss-top-cards-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 104%;
}
.ss-top-cards-container .ss-card {
  
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  flex: 1; /* Equal flex for all top cards */
  margin-right: 10px; /* Add margin between cards */
}




.ss-card {
  display: flex;
  flex-direction: column; /* Change the flex direction to column */
  padding: 20px; /* Increase padding for more height */
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 44%;
  align-items: center;
}

.sm-monthly-amount{
  display: flex;
}
.sm-amount-graph{
  margin-left: 5%;
margin-right: 5%;

}

.sm-schedule-card {
  display: flex;
  justify-content: space-between;
  background-color: #3D50AC;
  border-radius: 5px;
}

.sm-schedule-table {
  display: flex;
  justify-content: space-between;
  background-color: #3D50AC;
  padding: 10px;
  border-radius: 5px;
}

.sm-schedule-table p {
  margin: 5px 0;
}

.sm-dashboard-heading h1{
  margin-left: 2%;
  /* Adjust the left margin as needed */
  display: flex;
  align-items: left;
  color: #1f5288;
  margin-left: 2%;
}

.sm-schedule-card-details{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
}

.sm-schedule-table-info{
  display: flex;
  justify-content: space-between;
 
  padding: 10px;
  border-radius: 5px;
}