.tc-application-form {
    display:block;
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 60%;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 110%;
}


.tc-form-heading {
    font-size: 20px;
    color: #1f5288;
    margin-bottom: 20px;
}
.tc-data-field {
    margin-bottom: 30px; 
}


.tc-form-approve-button {
    background-color: #FA6F5D;
    border-color:#FA6F5D;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
    margin-right: 10px;
}


.tc-form-approve-button:hover {
    background-color: #c02d2d; 
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}

.tc-form-reject-button {
    background-color: #3D50ac;
    border-color:#2b41af;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 8px 15px;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}


.tc-form-reject-button:hover {
    background-color: #262c68; 
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.3);
}


.tc-app-card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px; 
}